
.header{
    background: 
        url('../img/texturas/textura-azul.svg') no-repeat center center / cover;
    /*height: 100vh;*/
    margin: 0;
}

.background-image {
    background-image: url('../img/texturas/textura-azul.svg'), linear-gradient(to right, #64CCEE, #308DC2);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
.navbar {
    background-color: #00458b00; /* Color de fondo de la barra */
}

.navbar-brand img {
    height: 50px; /* Ajusta el tamaño del logo */
}

/* Fondo blanco con bordes redondeados para el menú de texto */

.navbar-nav .nav-link:hover {
    background-color:  #1779da; /* Cambio de color en hover */
    
    color: #ffffff;
    transition: all 1.s;
}

.iconos-navbar {
    font-size: 2rem;
    margin-left: 2rem;
    color: #ffffff; /* Color de los íconos */
}

.iconos-navbar:hover {
    color: #1779da; /* Cambio de color en hover */
}

/* Estilo para mantener los íconos alineados con el menú en pantallas grandes */
.navbar-icons {
    display: flex;
    align-items: center;
}
.navbar-nav{
    font-size: 2em;
    background-color: #ffffff; /* Fondo blanco */
    color: #4a2b13; /* Color del texto */
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 25px; /* Bordes redondeados */
}
/*sections*/
.section-1{
    background: 
        url('../img/texturas/textura-marronpro.png') no-repeat center center / cover;
    /*height: 100vh;*/
    margin: 0;
}
/* transparencias*/
.bg-transparent{
    background: transparent !important;
    border: none !important;
}
/* colores de texto*/

.text-marron{
    color: #3C2415 !important;
}

/* colores de fondo*/
.bg-marron{
    background: #3C2415 !important;
}

/* font size*/
.font-size-1{
    font-size: 0.5em !important;
}
.font-size-2{
    font-size: 2em !important;
}
.font-size-3{
    font-size: 3em !important;
}
.font-size-4{
    font-size: 4em !important;
}
.font-size-5{
    font-size: 5em !important;
}
/* radios*/
.radio-1{
    border-radius: 1em;
}
/*margenes*/
.m-star{
    margin-right: 5rem !important;
}
/* botones */
.btn-rounded{
    border-radius: 1em;
}
.btn-card{
    background: linear-gradient(to right, #64CCEE, #308DC2) !important;
}
.btn-star{
    color: #3C2415;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-star:hover{
    color: #854d2b;
    border-color: #ac673c;
}

.btn-heart{
    color: #3C2415;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-heart:hover{
    transform: scale(1.1);
}